*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.db
/.vs
/x64/Debug
/Shop/Shop.vcxproj.user
/.vs/Shop/v15/.suo
/.vs/Shop/v15/Browse.VC.db 
Shop/x64/Debug/
Shop.VC.VC.opendb
